<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969745075381-af18h04fg4a7cqp1u3oaek5110d69l1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969745075381-af18h04fg4a7cqp1u3oaek5110d69l1k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969745075381-ppfpe8si0gmr2hic8c5qqelg2ive2n46.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfubUIAiRDxuSuWUdNwnTFqPgYy11UDLY</string>
	<key>GCM_SENDER_ID</key>
	<string>969745075381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meditofoundation.meditoApp</string>
	<key>PROJECT_ID</key>
	<string>medito-9c82d</string>
	<key>STORAGE_BUCKET</key>
	<string>medito-9c82d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969745075381:ios:9e44e0cc5f2465a9dd42fc</string>
	<key>DATABASE_URL</key>
	<string>https://medito-9c82d.firebaseio.com</string>
</dict>
</plist>