<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225683727641-tophk2u735bjfke0j02tjihjafofllp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225683727641-tophk2u735bjfke0j02tjihjafofllp6</string>
	<key>API_KEY</key>
	<string>AIzaSyCC_wt-EIH-wCqZHTQKLtydbjxVruZ3XRA</string>
	<key>GCM_SENDER_ID</key>
	<string>225683727641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.meditofoundation</string>
	<key>PROJECT_ID</key>
	<string>medito-9165c</string>
	<key>STORAGE_BUCKET</key>
	<string>medito-9165c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225683727641:ios:1bb2b6f5c3044357a15188</string>
</dict>
</plist>