<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56477459736-vbt5vnojvvnm526tbvoavjrceu3imi26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56477459736-vbt5vnojvvnm526tbvoavjrceu3imi26</string>
	<key>API_KEY</key>
	<string>AIzaSyC8lBuByCChSOKwy3L3N_KViai1sPaqdwg</string>
	<key>GCM_SENDER_ID</key>
	<string>56477459736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.meditofoundation</string>
	<key>PROJECT_ID</key>
	<string>medito-app</string>
	<key>STORAGE_BUCKET</key>
	<string>medito-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56477459736:ios:4558ddbc53bd5867926a6d</string>
	<key>DATABASE_URL</key>
	<string>https://medito-app.firebaseio.com</string>
</dict>
</plist>