<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>teamID</key>
    <string>JLKV36C38P</string>
    <key>team</key>
    <string>Medito Stichting</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>org.meditofoundation</key>
        <string>match AppStore org.meditofoundation</string>
        <key>org.meditofoundation.widget</key>
        <string>match AppStore org.meditofoundation.widget</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution: Medito Stichting (JLKV36C38P)</string>
</dict>
</plist>
